* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    background-color: #fdfdfd;
}

#file {
    margin-bottom: 40px;
}

.container {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 80%;
}

#result {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 10px;
}

#result img {
    border: 1px solid royalblue;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#result img:hover {
    -webkit-transform: scale(2.3);
    transform: scale(2.3);
}

#result > * {
    max-width: 150px;
    margin: auto;
}

header {
    margin-bottom: 30px;
}

.texto {
    margin-bottom: 30px;
}

.foo {
    margin-top: 100px;
}

.foo button {
    padding: 12px 8px 10px 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
    font-weight: bolder;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}

.foo button:hover {
    border: 1px solid rgb(185, 185, 185);
    color: rgb(94, 177, 45);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}